[Unit]
Description=SDOS management server

[Service]
ExecStart=/usr/share/sdos/venv/bin/python3.8 /usr/share/sdos/app.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target