[Unit]
Description=SDOS management server

[Service]
ExecStart=/usr/share/sdos/sdos-management
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target